<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>19/08/19 15:21:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPage.googleSearch()[pri:0, instance:GoogleSearch.GoSearch.SearchPage@7d9d1a19]">googleSearch</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/08/19 15:21:27</td>   <td>20905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPage.verifyGoogleSearchTextBox()[pri:0, instance:GoogleSearch.GoSearch.SearchPage@7d9d1a19]">verifyGoogleSearchTextBox</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/08/19 15:21:27</td>   <td>20912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPage.verifyGitLabURL()[pri:0, instance:GoogleSearch.GoSearch.SearchPage@7d9d1a19]">verifyGitLabURL</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/08/19 15:21:27</td>   <td>20915</td> <td>&nbsp;</td><td title="&lt;&lt;SearchPage.closeBrowser()[pri:0, instance:GoogleSearch.GoSearch.SearchPage@7d9d1a19]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
</table>
