<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c7ba">  <td>19/08/19 13:08:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPage.googleSearch()[pri:0, instance:GoogleSearch.GoSearch.SearchPage@4883b407]">googleSearch</td> 
  <td>main@1401132667</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/08/19 13:08:58</td>   <td>4861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPage.verifyGoogleSearchTextBox()[pri:0, instance:GoogleSearch.GoSearch.SearchPage@4883b407]">verifyGoogleSearchTextBox</td> 
  <td>main@1401132667</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/08/19 13:09:02</td>   <td>8781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchPage.verifyGitLabURL()[pri:0, instance:GoogleSearch.GoSearch.SearchPage@4883b407]">verifyGitLabURL</td> 
  <td>main@1401132667</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/08/19 13:09:13</td>   <td>19407</td> <td>&nbsp;</td><td title="&lt;&lt;SearchPage.closeBrowser()[pri:0, instance:GoogleSearch.GoSearch.SearchPage@4883b407]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1401132667</td>   <td></td> </tr>
</table>
